torch
faiss-cpu

#googlesearch-python
google-search-results
feedparser
langchain
langchain-community
sentence-transformers
python-dotenv
google-generativeai
langchain-google-genai

pydantic
selenium
python-docx
requests
beautifulsoup4
urllib3
pillow
streamlit






